<html>
<head>
    <title>E-Fashion Project</title>

    <link rel="stylesheet" type="text/css" href="~/Content/AboutUs.css">


    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Mountains+of+Christmas|Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hanalei|Indie+Flower|Orbitron|Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed|PT+Serif&display=swap" rel="stylesheet">



</head>
<body>

    <div class="aboutuscover">

        <img src="~/Content/Image/aboutuscover.jpg" />
        <div class="aboutustext">
            <center><h1> About Us</h1></center>

        </div>
    </div>
    <div class="image1">
        <img src="~/Content/fashion02.png" height="500" width="500">
        <h2> About Us</h2>
        <p>As E-Fashion, we started an exciting journey in 2021. In this journey that we embarked on to bring a fresh perspective to Turkish fashion and to bring our brand new, high quality and original designs to consumers all over the world, we have accomplished very important works and successes.</p>

    </div>

    <div class="map">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.551679163785!2d28.829941350736267!3d40.991296828317445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa35ee1fdc1b1%3A0x658a212e6b4359b5!2zVC5DLiDEsHN0YW5idWwgS8O8bHTDvHIgw5xuaXZlcnNpdGVzaQ!5e0!3m2!1str!2str!4v1634040093511!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

    </div>

    <h3>Our Location</h3>
    <p2>Ataköy 7-8-9-10, Ataköy Campus on the E5 Highway, 34158 Bakırköy</p2>











</body>
</html>