@*@model WebApplication9.Models.UpperBodyOutfit*@


<html>
<head>
    <title>E-Fashion Project</title>

    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Mountains+of+Christmas|Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hanalei|Indie+Flower|Orbitron|Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed|PT+Serif&display=swap" rel="stylesheet">

</head>
<body>

    <div class="cover">
        <img src="~/Content/fashion01.png" />
        <div class="text">
            <h1> High Fashion</h1>
            <h4>E<font> - </font>Fashion</h4>
            <hr class="yline">
            <h3> Lorem ipsum dolor sit amet,</h3>
        </div>
    </div>

    <div class="image2">
        <img src="~/Content/fashion02.png" height="500" width="500" />
        <h6> What We Do</h6>
        <p>What makes a dress beautiful? The woman of course. And our design process is driven by her. Fabrics that feel good against the skin,hues that she will have trouble choosing betweet fits that bring confidence.</p>
        
        <div class="shoppn">
            <form action="/home/shop/" method="get">
                <input type="submit" value="Shop Now">
        </div>

</div>
    

</body>
</html>