<html>

<head>

    <title>E- Fashion Project</title>

    <link href="~/Content/Shop.css" rel="stylesheet" />


</head>


<body>

    <div class="photo1">

        <img src="~/Content/Image/Products/WomanProducts/p1girl.png" />
        <img src="~/Content/Image/Products/WomanProducts/p2girl.png" class="img-top" />
        <div class="p1text">
            <h9> 119.90€ </h9>

        </div>

    </div>


    <div class="photo2">

        <img src="~/Content/Image/Products/WomanProducts/p3girl.png" />
        <img src="~/Content/Image/Products/WomanProducts/p4girl.png" class="img-top" />
        <div class="p2text">
            <h9> 119.90€ </h9>

        </div>


    </div>

    <div class="photo3">

        <img src="~/Content/Image/Products/WomanProducts/p1girl.png" />
        <img src="~/Content/Image/Products/WomanProducts/p2girl.png" class="img-top" />
        <div class="p3text">
            <h9> 119.90€ </h9>

        </div>

    </div>

    <div class="photo4">

        <img src="~/Content/Image/Products/WomanProducts/p5girl.png" />
        <img src="~/Content/Image/Products/WomanProducts/p6girl.png" class="img-top" />
        <div class="p4text">
            <h9> 119.90€ </h9>

        </div>

    </div>

    <div class="photo5">

        <img src="~/Content/Image/Products/WomanProducts/p3girl.png" />
        <img src="~/Content/Image/Products/WomanProducts/p4girl.png" class="img-top" />
        <div class="p5text">
            <h9> 119.90€ </h9>

        </div>

    </div>

    <div class="photo6">

        <img src="~/Content/Image/Products/WomanProducts/p5girl.png" />
        <img src="~/Content/Image/Products/WomanProducts/p6girl.png" class="img-top" />
        <div class="p6text">
            <h9> 119.90€ </h9>

        </div>

    </div>

    <div class="photo7">

        <img src="~/Content/Image/Products/WomanProducts/p3girl.png" />
        <img src="~/Content/Image/Products/WomanProducts/p4girl.png" class="img-top" />
        <div class="p7text">
            <h9> 119.90€ </h9>

        </div>

    </div>

    <div class="photo8">

        <img src="~/Content/Image/Products/WomanProducts/p5girl.png" />
        <img src="~/Content/Image/Products/WomanProducts/p6girl.png" class="img-top" />
        <div class="p8text">
            <h9> 119.90€ </h9>

        </div>

    </div>

    <div class="photo9">

        <img src="~/Content/Image/Products/WomanProducts/p1girl.png" />
        <img src="~/Content/Image/Products/WomanProducts/p2girl.png" class="img-top" />
        <div class="p9text">
            <h9> 119.90€ </h9>

        </div>

    </div>

    <div class="photo10">

        <img src="~/Content/Image/Products/WomanProducts/p1girl.png" />
        <img src="~/Content/Image/Products/WomanProducts/p2girl.png" class="img-top" />
        <div class="p10text">
            <h9> 119.90€ </h9>

        </div>

    </div>

    <div class="photo11">

        <img src="~/Content/Image/Products/WomanProducts/p5girl.png" />
        <img src="~/Content/Image/Products/WomanProducts/p6girl.png" class="img-top" />
        <div class="p11text">
            <h9> 119.90€ </h9>

        </div>

    </div>


    <div class="photo12">

        <img src="~/Content/Image/Products/WomanProducts/p3girl.png" />
        <img src="~/Content/Image/Products/WomanProducts/p4girl.png" class="img-top" />
        <div class="p12text">
            <h9> 119.90€ </h9>

        </div>

    </div>








</body>





</html>