
@{
    ViewBag.Title = "NewAccessoryProduct";
}

<form class="form-group" method="post">
    <div>
        <label>AccessoryID</label>
        <input type="number" class="form-control" name="AccessoryID" />
    </div>
    <div>
        <label>CombineID</label>
        <input type="number" class="form-control" name="CombineID" />
    </div>
    <div>
        <label>Name</label>
        <input type="text" class="form-control" name="AccessoryName" />
    </div>
    <div>
        <label>Type</label>
        <input type="text" class="form-control" name="AccessoryType" />
    </div>
    <div>
        <label>Color</label>
        <input type="text" class="form-control" name="Color" />
    </div>
    <div>
        <label>Sex</label>
        <input type="text" class="form-control" name="Sex" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Add Accessory</button>

    </div>
</form>
