
@{
    ViewBag.Title = "NewShoeProduct";
}

<form class="form-group" method="post">
    <div>
        <label>ShoeID</label>
        <input type="number" class="form-control" name="ShoeID" />
    </div>
    <div>
        <label>Type</label>
        <input type="text" class="form-control" name="Type" />
    </div>
    <div>
        <label>Size</label>
        <input type="number" class="form-control" name="Size" />
    </div>
    <div>
        <label>Color</label>
        <input type="text" class="form-control" name="Color" />
    </div>
    <div>
        <label>Sex</label>
        <input type="text" class="form-control" name="Sex" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Add Shoe</button>
    </div>
</form>
