<html>

<head>

    <title>E- Fashion Project</title>
    <link href="~/Content/Image/List.css" rel="stylesheet" />
</head>


<body>

    <div id="NW"></div>
    <div id="NE"></div>
    <div id="SW"></div>
    <div id="SE"></div>

    <a href="https://localhost:44351/Lower/LowerList" style="text-decoration : none"><h1> Lower Outfits </h1></a>
    <a href="https://localhost:44351/List/UpperList" style="text-decoration : none"><h2> Upper Outfits </h2></a>
    <a href="https://localhost:44351/Accessory/Accessorys" style="text-decoration : none"><h3> Accessorys </h3></a>
    <a href="https://localhost:44351/Shoe/Shoes" style="text-decoration : none"><h4> Shoes </h4></a>


</body>

</html>